<md-dialog class="fullscreen-dialog" aria-label="Editor dialog" flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>阅读</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-font-set="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
        <div layout="column" layout-align="center center">
            <h1 class="md-display-1"> {{newPage.title}}</h1>
            <h3 class="md-headline">{{newPage.author}}</h3>
            <div class="content" ng-bind-html="newPage.content"></div>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <!--<md-button class="md-raised md-accent" ng-click="update()" ng-disabled="!newPage.title || !newPage.content">
            <md-icon md-font-set="material-icons">save</md-icon>
            更新
        </md-button>-->
    </md-dialog-actions>
</md-dialog>