<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />

  <link type="text/css" rel="stylesheet" href="/css/diy.css" media="screen,projection">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>新文章</title>
</head>

<body>

  <!--导航栏-->
  <nav class="light-green">
    <div class="container">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Blog</a>
        <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li>{{userName}}</li>
          <li><a href="/logout">退出</a></li>
          <li><a href="/explore">浏览</a></li>
          <li><a href="/about">关于</a></li>
        </ul>

        <ul id="mobile-demo" class="side-nav">
          <li>{{userName}}</li>
          <li><a href="/logout">退出</a></li>
          <li><a href="/explore">浏览</a></li>
          <li><a href="/about">关于</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!--编辑-->

  <div class="container">

    <form method="post">
      <div class="input-field">
        <input id="title" name="title" type="text" class="validate">
        <label for="title">标题</label>
      </div>
      <div class="input-field">
        <textarea id="abody" name="body" class="materialize-textarea"></textarea>
        <label for="abody">准备好写点什么了吗?</label>
      </div>
      <button class="btn waves-effect waves-light" type="submit">完成
        <i class="material-icons right">send</i>
      </button>
    </form>

  </div>



  <!--底部栏-->
  <footer class="page-footer light-green">
    <div class="container">
      <div class="row">
        <div class="col l8 s12">
          <h5 class="white-text">新时代的博客</h5>
          <p class="grey-text text-lighten-4">记录,分享,创作,传播</p>
          <p class="grey-text text-lighten-4">这是一个创作的地方, 强调独创性, 记录个人生活点滴, 传达个人自由思想,抒发与分享个人情绪, 分享与交流知识技术,认识同好, 结交朋友</p>
          <p class="grey-text text-lighten-4">期待你的加入</p>
        </div>
        <div class="col l4 s12">
          <h5 class="white-text">分享至</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">微信</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">微博</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">QQ空间</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <a class="grey-text text-lighten-4" href="">By Mark</a> © 2015 TZH, All rights reserved.
      </div>
    </div>
  </footer>


  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script type="text/javascript" src="/js/init.js"></script>
</body>

</html>