<span>       
    {{username}}
    <md-menu>
        <md-button class="md-icon-button" aria-label="More Button" ng-click="$mdOpenMenu($event)">
            <md-icon md-font-set="material-icons">arrow_drop_down</md-icon>
        </md-button>
        <md-menu-content>
            <md-menu-item>
                <md-button ng-click="logout()">
                    <md-icon md-font-set="material-icons">cancel</md-icon>
                    退出登录
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</span>